h1 {
  font-size: 2.8em;
}

.pt {
  padding-top: 15px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 10px;
}

.text-center {
  text-align: center;
}

.timer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.timer_num {
  font-size: 50px;
  font-weight: bold;
}

.text-medium {
  font-size: 20px;
}

.text-small {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  .timer_num {
    font-size: 40px;
  }
  .text-small {
    font-size: 13px;
  }
  .timer-col {
    margin: 0 10px;
  }
}
#url_timer_link {
  margin: 25px 0;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  color: black;
  text-decoration: none;
  background-color: aliceblue;
}
#url_timer_link:hover {
  background-color: azure;
}
#url_timer_link:not(.on) {
  display: none;
}

input {
  font-size: 16px;
}

#generate {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 25px;
  font-size: 16px;
}

* {
  font-family: "consolas";
}

#warningBox {
  color: red;
  height: 25px;
}

#roadMapImg {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  border: 1px lightgray solid;
  position: relative;
  z-index: 1;
}